body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Lato;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  background-color: black; /*Remove once particle system added*/
}
#particle-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 90px;
  letter-spacing: 10px;
  margin-top: -140px;
  padding-left: 10px; 
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

#navigation {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  align-content: center;
  align-self: center;
}

.btnHome {
  display: table-cell; 
  vertical-align: middle;
  font-size: 1.3rem;
  border-width: 2px;
  font-weight: bold;
  font-family: Lato;
  margin-right:15px;
  margin-left: 15px;
  color: white;
  background: transparent;
  border-color: white;
  border-radius: 150px;
  padding: 20px;
  width: 200px;
  height: 70px;
}

.btnHome:hover {
    color: black;
    background: white;
    border-color: black;
}

h1 {
  color: white
}