.graphPage h1 {
  color: white;
  text-align: center;
}

.grid {
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  background-color: lightgrey;
}

.grid-row {
  height: 100%;
}

