h1 {
	color: black;
	text-align: center;
	padding-top: 1%;
}

.nav-bar {
	padding-top: 1.5%;
	text-align: center;
	align-content: center;
	align-self: center;
}

.divider {
  	border-left: 5px solid white;
	margin-left: 0.75%;
	margin-right: 0.75%;
}

.btn {
	color: white;
	background-color: transparent;
	border-color: white;
	border-radius: 12px;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 0.35%;
	margin-right: 0.35%;
	border-width: 1.8px;
	font-size: 140%;
}

.btn:hover {
	color: black;
	background-color: white;
	border-color: black;
}

.bars {
	padding-top: 680px;
	text-align: center;
	align-content: center;
	align-self: center;
}

.bar {
	width: 2px;
	background-color: white;
	display: inline;
	margin: 0 1px;
}