.sortingPage h1 {
	color: white;
	text-align: center;
	padding-top: 1%;
}

.sortingPage .nav-bar {
	padding-top: 1.5%;
	text-align: center;
	align-content: center;
	align-self: center;
}

.sortingPage .divider {
  	border-left: 5px solid white;
	margin-left: 0.75%;
	margin-right: 0.75%;
}

.sortingPage .btn {
	color: white;
	background-color: transparent;
	border-color: white;
	border-radius: 12px;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 0.35%;
	margin-right: 0.35%;
	border-width: 1.8px;
	font-size: 140%;
}

.sortingPage .btn:hover {
	color: black;
	background-color: white;
	border-color: black;
}

.sortingPage .bars-container {
	position: relative;
	margin-top: 2%;
	text-align: center;
}

.sortingPage .bar {
	background-color: darkcyan;
	width: 10px;
	border-radius: 10px;
	margin: 0 1px;
	display: inline-block;
}